{
  "extends": [
    "@roots/sage/stylelint-config",
    "stylelint-config-twbs-bootstrap"
  ],
  "rules": {
    "string-quotes": "double",
    "number-leading-zero": "always",
    "selector-max-id": 1,
    "selector-no-vendor-prefix": null,
    "no-empty-source": null,

    "declaration-no-important": null,
    "selector-class-pattern": null,
    "selector-no-qualifying-type": null,
    "scss/dollar-variable-pattern": "",
    "property-no-vendor-prefix": null,
    "value-no-vendor-prefix": null,
    "function-no-unknown": null,
    "indentation": null
  },
  "ignoreFiles": ["**/fontawesome/*.scss"]
}
