# General
.DS_Store

# Application
wordpress/app/plugins/*
!wordpress/app/plugins/.gitkeep
wordpress/app/mu-plugins/*/
wordpress/app/upgrade
wordpress/app/uploads/*
!wordpress/app/uploads/.gitkeep
wordpress/app/cache/*

# WordPress
wordpress/wp
wordpress/.htaccess

# phpMyAdmin
phpMyAdmin/*
!phpMyAdmin/.gitkeep

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
node_modules

# WP-CLI
wp-cli.local.yml